---
---

@import "{{ site.theme }}";


.project-tagline {margin-bottom:3rem;}
.btn {font-size:13px; padding:0.50rem 0.75rem;}

.site-footer-owner {font-weight:normal;}

@media screen and (min-width: 64em)
 .project-tagline {
     font-size: 1.45rem;
 }
 }

 @media screen and (max-width: 64em) and (min-width: 42em)
 .project-tagline {
     font-size: 1.25rem;
 }
 }

 @media screen and (max-width: 42em)
 .project-tagline {
     font-size: 1.15rem;
 }
 }
